@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 16px/1.5 "Ubuntu", sans-serif;
}

body, button, textarea, input {
    font:inherit;
}


header nav {
    display: flex;

}

header nav > ul{
    display: flex;
    gap: 0.1em;

}

header nav ul li{
    display: block;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #696969;
    background:#ececec;
    padding: 0.8em;
}

header {
    display: flex;
    align-items: center;
    background: white;
    padding-right: 0.5em;

}

header .cinema {
    display: flex;
    background: white;
    color: black;
    flex: 1 0 auto;
    padding: 0.8rem;
    align-items: center;
}

header .cinema h1{
    margin-right: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid #ccc;
}

header .imdb {
    flex: 1 0;
    justify-content: flex-start;
}

.image img {
    display: block;
    width: 100%;
     margin:auto;
}

.info1 p {
    padding: 5em max(calc((100vw - 1400px) / 2), 6rem);
    text-align: center;
    background: #56DBB1;
}


.info2,
.info4 {
    display: flex;
    gap: 2em;
    background: #353434;
    color: white;
    padding: 5em max(calc((100vw - 1400px) / 2), 6rem);
    align-items: center;
    text-align: center;
}

.info2 p,
.info4 p {
    color: #585956;
    padding-top: 0.7em;
    border-top: 1px solid white;
}
.info2 .title{
  border: none;
  color: #fff;
}

.info4 p{
    border: none;
}

.info2 h3,
.info4 h3 {
    padding-bottom: 0.7em;

}

.info4 h3{
    font-size: 1.5em;
}

.info2 .info2-c1 h3::before{
    display: inline-block;
    font-family: 'Font Awesome 6 Free';
    font-size: 2.5em;
    content: '\f008';
    background: #56DBB1;
    padding: 0 0.25em;



}

.info2 .info2-c2 h3::before{
    display: inline-block;
    font-family: 'Font Awesome 6 Free';
    font-size: 2.5em;
    content: '\f03d';
    background: #56DBB1;
    padding: 0 0.25em;


}


.info2 .info2-c3 h3::before{
    display: inline-block;
    font-family: 'Font Awesome 6 Free';
    font-size: 2.5em;
    content: '\f54e';
    background: #56DBB1;
    padding: 0 0.25em;

}

.info2 .info2-c4 h3::before{
    display: inline-block;
    font-family: 'Font Awesome 6 Free';
    font-size: 2.5em;
    content: '\f095';
    background: #56DBB1;
    padding: 0 0.25em;
    aspect-ratio: 1/1;

}

.info3 {
    text-align: center;
    padding: 5em max(calc((100vw - 1400px) / 2), 6rem);
}

.info3 h2 {
    font-size: 2em;
    margin-bottom: 0.25em;
}

.info3 input {
    margin-top: 2em;
    background: #974D1B;
    color: #fff;
    padding: 1rem 3.2rem;
}

footer{
    background: #1B9772 ;
    display: block;
    text-align: center;
    font: 14px;
    padding: 2em max(calc((100vw - 1400px) / 2), 6rem);
    color: #56DBB1;
    letter-spacing: 2.5px;
}

footer strong{
    color: #DBFAF0;
}

